@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Cadastro */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #706a66;
  font-family: Arial, Helvetica, sans-serif;
}

body, button, p, input, select, textarea, #cabecalho, #tituloDestaque
{
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: white;
  font-size: 35px;
  display: flex;
}

h2 {
  color: white;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  text-align: center;
}

p {
  color: white;
  font-weight: 700;
  margin-top: 20px;
}


#cabecalho {
  margin-top: -47px;
  margin-left: 220px;
  color: #ffffff;
  font-weight: 500;
}

p, #cabecalho
{
  font-size: 25px;
}

header {
  width: 100%;
  height: 60px;
  background: #ec7000;
  margin-bottom: 50px;
}

img {
  background-repeat: no-repeat;
  width: 40px;
  background-size: contain;
  margin: 10px;
  margin-left: 150px;
}

hr {
  width: 100%;
  height: 2px;
}

fieldset {
  margin-top: 30px;
  width: 80%;
  margin: auto;
  background-color: #ec7000;
  border: none;
}

#tituloDestaque {
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #003499;
  width: 80%;
  height: 40px;
  margin: auto;
  margin-bottom: 0px;

}

label {
  color: white;
  font-size: 20px;
}

.linha {
  align-items: center;
  text-align: center;
  width: 80%;
  height: 2px;
  background-color: #ffffff;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.container {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.grupo {
  display: block;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5px;
}

input {
  width: 300px;
  height: 5px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  margin-top: 5px;
}

input[type=email] {
  width: 425px;
}

select {
  width: 195px;
  height: 25px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}

#inputEndereco {
  width: 500px;
  margin-right: 35px;
}

#inputNumero {
  margin-left: 20px;
  width: 40px;
}

#estado {
  width: 320px;
}

#inputCodAreaFixo,
#inputCodAreaCel {
  width: 40px;
  margin-right: 5px;
}

#inputTelefoneFixo,
#inputTelefoneCelular {
  width: 230px;
}

button {
  background-color: #003499;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 10px;
  width: 20%;
  margin-bottom: 40px;
  margin-top: 40px;
}

button:hover {
  background-color: rgb(146, 146, 255);
  cursor: pointer;
}

.obrigatorio {
  color: #ffffff;
  text-align: start;
  padding-left: 20px;
}

footer {
  padding-top: 10px;
  text-align: center;
  width: 100%;
  height: 40px;
  background-color: #003499;
  color: #ffffff;
  margin-top: 40px;
}